@import "../../styles/mixin/mixinColor.scss";

@mixin button-size($width : 120px,$height : 35px,$font-size:16px) {
  width: $width;
  height: $height;
  font-size: $font-size;
}

.j-btn{
  outline: none;
  cursor: pointer;
  border-radius:5px;
  user-select:unset;
  @include button-size();
  border:1px solid #eee;
  background-color: transparent;

  // button size
  &--small{
    @include button-size(80px,25px,12px);
  }

  &--large{
    @include button-size(160px,45px,18px);
  }

  @include mixinBgColors(#{&});
  @include mixinTextColors(#{&});
  

  // disabled button
  &-disabled,
  &-loading{
    cursor: unset;
  }
}